body {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    border: 5px solid black;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /* animation: animakotak 2s ease infinite alternate forwards; */
    animation-name: animakotak;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.container:hover .kotak {
    animation-play-state: paused;
}

@keyframes animakotak {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 300px;
    }
}