@font-face {
    font-family: 'kaushan';
    src: url('font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    text-align: center;
    font-family: 'kaushan';
}

.satu {
    font-size: 30px;
    margin-bottom: -20px;
}

img {
    width: 600px;
    height: 300px;
    filter: blur(5px) grayscale(100%) drop-shadow(5px 5px 20px black);
    transition: 1s;
}

img:hover {
    filter: blur(0px) grayscale(0%) drop-shadow(5px 5px 20px black);
}

.container {
    width: 400px;
    margin: 50px auto;
    border: 5px solid black;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /* animation: animakotak 2s ease infinite alternate forwards; */
    animation-name: animakotak;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.container:hover .kotak {
    animation-play-state: paused;
}

@keyframes animakotak {
    0% {
        margin-left: 0px;
    }
    20% {
        background-color: burlywood;
    }
    40% {
        background-color: crimson;
    }
    60% {
        background-color: yellow;
    }
    80% {
        background-color: turquoise;
    }
    100% {
        margin-left: 300px;
        background-color: springgreen;
    }
}