body {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    border: 5px solid black;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition: all 1s ease 0s;
}
.container:hover .kotak {
    transform: rotate(360deg);
    margin-left: 300px;
    background-image: linear-gradient(red 50%,white 50%);
    border: 1px black;
}